<label>
    <input type="radio" name="mode" id="discFixed" checked  style="cursor:pointer"><i style="cursor:pointer">Fixed</i>
</label>
<label>
    <input type="radio" name="mode" id="discPercent" style="cursor:pointer"><i style="cursor:pointer">Percent</i>
</label>

<ul id="keyboard" style="height:277px; width:311px; font: 71%/1.5 Verdana; padding-left:59px;">
    <li class="clearl disLetter">1</li>
    <li class="disLetter" id="two">2</li>
    <li class="disLetter" id="three">3</li>
    <li class="clearl disLetter" id="four">4</li>
    <li class="disLetter">5</li>
    <li class="disLetter">6</li>
    <li class="clearl disLetter">7</li>
    <li class="disLetter">8</li>
    <li class="disLetter">9</li>
    <li class="clearl disLetter" style="width:190px">0</li>
</ul>
@*<button class="btn btn-default" id="btnDiscReset">Reset</button>*@
<button class="btn btn-default" id="btnBackInDiscount">Back</button>
<script>
    if ($("#discountRow").length == 1) {

        discType = parseInt($("#discAmount").data("id"));

        if (discType == 0) {
            $(".keypad").ready(function () {
                $("#discPercent").prop('checked', true);
            });
        }
    }
</script>

