<style>
    .disabled {
        pointer-events: none;
        opacity:0.6;
    }
</style>
<ul id="keyboard" style="height:296px; width:311px; font: 71%/1.5 Verdana; padding-left:59px;">
    <li class="clearl letter">1</li>
    <li class="letter" id="two">2</li>
    <li class="letter" id="three">3</li>
    <li class="clearl letter" id="four">4</li>
    <li class="letter">5</li>
    <li class="letter">6</li>
    <li class="clearl letter">7</li>
    <li class="letter">8</li>
    <li class="letter">9</li>
    <li class="letter">0</li>
    <li class="disabled refundPay hvr-icon-forward" id="btnRefundPay">Pay</li>
    <li class="disabled clearl" id="btnPrint" style="width:191px;height:50px; line-height:48px;">Print</li>
</ul>
<script>
    numpadFunction = 1; // for quantity
</script>