<div class="k-edit-form-container col-lg-11 col-md-10 col-sm-11 col-xs-10" id="" style="margin-bottom:4%;margin-top:2%;">
    <div id="divTotalSaleForm"></div>
    <div class="k-edit-buttons k-state-default" style="margin-left:30px;">
        <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btnTotalSaleSubmit"><span class="k-icon k-update"></span>Submit</button>
        <button type="reset" class="k-button k-button-icontext k-grid-update" id="btnRefreshSaleForm"><span class="k-icon k-i-refresh"></span>Refresh</button>
        <button type="button" class="k-button k-button-icontext k-grid-cancel" id="btnCancelSaleForm"><span class="k-icon k-cancel"></span>Cancel</button>
    </div>
</div>

<script>
     $(document).ready(function () {
         $("#divTotalSaleForm").empty();
         $("#divTotalSaleForm").load('@Url.Action("TotalSalePartial", "PointOfSale")');
    });
    $("#btnRefreshSaleForm").click(function () {
        $("#divTotalSaleForm").empty();
        $("#divTotalSaleForm").load('@Url.Action("TotalSalePartial", "PointOfSale")');
    });
    $("#btnCancelSaleForm").click(function () {
        $(this).closest(".k-window-content").data("kendoWindow").close();
    });
    $("#btnTotalSaleSubmit").click(function () {
        var fromDatePicker = $("#fromDatePickerForSale").data("kendoDateTimePicker");
        var toDatePicker = $("#toDatePickerForSale").data("kendoDateTimePicker");
        $("#divTotalSaleWin").data("kendoWindow").close();
        $("#reportList").empty();
        $("#reportList").append('<div class="loading_partial"></div>');
        $("#reportList").load('@Url.Action("TotalSaleList", "PointOfSale")?FromDate=' + fromDatePicker.value().toISOString() + '&ToDate=' + toDatePicker.value().toISOString());
    });
</script>
