<div class="k-edit-form-container col-lg-11 col-md-10 col-sm-11 col-xs-10" style="margin : 2%;">
    <div id="divCouponForm"></div>
    <div class="k-edit-buttons k-state-default">
        @if (ViewBag.Id > 0)
        {
            <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btnCouponCreate"><span class="k-icon k-update"></span>Update</button>

        }
        else
        {
            <button type="button" class="k-button k-button-icontext k-primary k-grid-update" id="btnCouponCreate"><span class="k-icon k-update"></span>Create</button>
        }
        <button type="reset" class="k-button k-button-icontext k-grid-update" id="btnCouponRefresh"><span class="k-icon k-i-refresh"></span>Refresh</button>
        <button type="button" class="k-button k-button-icontext k-grid-cancel" id="btnCouponCancel"><span class="k-icon k-cancel"></span>Cancel</button>
    </div>
</div>
<script>
    var start;
    var end;
    $(document).ready(function () {
        $("#divCouponForm").append('<div class="tiny_loading"></div>');
        $("#divCouponForm").load('/Offer/AmountCouponCreatePartial?id=' + '@ViewBag.Id');
    });
    $("#btnCouponRefresh").click(function () {
        $("#divCouponForm").empty();
        $("#divCouponForm").append('<div class="tiny_loading"></div>');
        $("#divCouponForm").load('/Offer/AmountCouponCreatePartial?id=' + '@ViewBag.Id');
    });

    $("#btnCouponCancel").click(function () {
        $(this).closest(".k-window-content").data("kendoWindow").close();
    });

    var validation = $("#divCouponForm").kendoValidator({
        rules:
        {
            remoteCouponCode: function (input) {
                var remoteAttr = input.attr("data-val-remote-url");
                if (typeof remoteAttr === typeof undefined || remoteAttr === false) {
                    return true;
                }
                var isInvalid;
                var data = {};
                var Id = $("#OfferId").val();
                var code = $.trim($("#Code").val());
                data = { Id: Id, Code: code };
                $.ajax({
                    url: remoteAttr,
                    mode: "abort",
                    port: "validate" + input.attr('name'),
                    dataType: "json",
                    type: input.attr("data-val-remote-type"),
                    data: data,
                    async: false,
                    success: function (response) {
                        isInvalid = response;
                        if (isInvalid === true) {
                            isInvalid = true;
                        }
                        else {
                            isInvalid = false;
                        }
                    }
                });
                return isInvalid;
            },
            equal: function (input) {
                if ((input.is("[name=FromPrice]") || input.is("[name=ToPrice]")) && $.trim($("#FromPrice").val()) == $.trim($("#ToPrice").val()) && $.trim($("#ToPrice").val()) > 0 && $.trim($("#FromPrice").val()) > 0) {
                    return false;
                }
                return true;
            },
            fromPrice: function (input) {
                if (input.is("[name=FromPrice]") && ($.trim(input.val()) === "" || $.trim(input.val()) < 1)) {
                    return false;
                }
                return true;
            },
            toPrice: function (input) {
                if (input.is("[name=ToPrice]") && ($.trim(input.val()) == "" || $.trim(input.val()) < 1)) {
                    return false;
                }
                return true;
            },
            fromLessTo: function (input) {
                if (input.is("[name=FromPrice]") && parseInt($.trim(input.val())) > parseInt($.trim($("#ToPrice").val())) && $.trim($("#ToPrice").val()) > 0) {
                    return false;
                }
                return true;
            },
            toGreaterFrom: function (input) {
                if (input.is("[name=ToPrice]") && parseInt($.trim($("#FromPrice").val())) > parseInt($.trim(input.val())) && $.trim($("#FromPrice").val()) > 0) {
                    return false;
                }
                return true;
            },
            availabilityCheck: function (input) {
                var isInvalid = true;
                if ((input.is("[name=FromPrice]") || input.is("[name=ToPrice]"))) {
                    if ($.trim($("#FromPrice").val()) > 0 && $.trim($("#ToPrice").val()) > 0) {
                        $.ajax({
                            url: '/Offer/CheckAmountCouponPriceRange',
                            mode: "abort",
                            type: 'GET',
                            dataType: "json",
                            async: false,
                            data: { fromPrice: $.trim($("#FromPrice").val()), toPrice: $.trim($("#ToPrice").val()), id: $("#Id").val() },
                            success: function (data) {
                                if (data == "error") {
                                    alert("price availability check error.")
                                }
                                else {
                                    isInvalid = data;
                                    if (isInvalid === true) {
                                        isInvalid = true;
                                    }
                                    else {
                                        isInvalid = false;
                                    }
                                }
                            }
                        });
                    }
                    else if ($.trim(input.val()) > 0) {
                        $.ajax({
                            url: '/Offer/CheckAmountCouponPriceRange',
                            mode: "abort",
                            type: 'GET',
                            dataType: "json",
                            async: false,
                            data: { price: $.trim(input.val()), id: $("#Id").val() },
                            success: function (data) {
                                if (data == "error") {
                                    alert("price availability check error.")
                                }
                                else {
                                    isInvalid = data;
                                    if (isInvalid === true) {
                                        isInvalid = true;
                                    }
                                    else {
                                        isInvalid = false;
                                    }
                                }
                            }
                        });
                    }
                }
                return isInvalid;
            },
            datepicker: function (input) {
                if (input.is("[data-role=datetimepicker]")) {
                    return input.data("kendoDateTimePicker").value();
                } else {
                    return true;
                }
            }
        },
        messages: {
            remoteCouponCode: function (input) {
                return input.data('val-remote');
            },
            fromPrice: "Please enter From price.",
            toPrice: "Please enter To price.",
            fromLessTo: "From price not greater than To price.",
            toGreaterFrom: "To price not less than From price.",
            equal: "From and To are not equal.",
            datepicker: "Please enter valid date!",
            availabilityCheck: "This price is already exist."
        }
    }).data("kendoValidator");

    $("#btnCouponCreate").click(function () {

        if (validation.validate())
        {
            var sendData = {
                Id: $("#Id").val(),
                OfferName: $.trim($("#OfferName").val()),
                Code: $.trim($("#Code").val()),
                Amount: $.trim($("#Amount").val()),
                IsPercentile: $("#IsPercentile").is(":checked"),
                IsInfinite: $("#IsInfinite").is(":checked"),
                FromPrice: $.trim($("#FromPrice").val()),
                ToPrice: $.trim($("#ToPrice").val()),
                IsDateValidity: $("#checkDate").is(":checked"),
                StartDate: $.trim($("#StartDate").val()),
                EndDate: $.trim($("#EndDate").val()),
                ValidityDays: $.trim($("#ValidityDays").val()),
                ValidityTime: $.trim($("#ValidityTime").val()),
                CreatedBy : userId
            }
            $.ajax({
                url: '/Offer/AmountCouponSave',
                type: "POST",
                data: sendData,
                success: function (result) {
                    $("#divAddCouponWin").data("kendoWindow").close();
                    if (result == "success") {
                        multiSelectIds = "";
                        loadCouponList();
                    }
                    else {
                        alert("Save Error");
                    }
                }
            });
        }
    });

    //***************************Date validation ******************************
    function onStartChange() {
        var startDate = start.value(),
            endDate = end.value();

        if (startDate) {
            startDate = new Date(startDate);
            startDate.setDate(startDate.getDate());
            end.min(startDate);
        } else if (endDate) {
            start.max(new Date(endDate));
        } else {
            endDate = new Date();
            start.max(endDate);
            end.min(endDate);
        }
    }

    function onEndChange() {
        var endDate = end.value(),
            startDate = start.value();

        if (endDate) {
            endDate = new Date(endDate);
            endDate.setDate(endDate.getDate());
            start.max(endDate);
        } else if (startDate) {
            end.min(new Date(startDate));
        } else {
            endDate = new Date();
            start.max(endDate);
            end.min(endDate);
        }
    }
</script>






