@model PointOfSale.ModelViews.Configuration.ScheduleModelView
@Html.HiddenFor(a => a.Id)
<div class="editor-label"><label for="Name">Name</label></div>
<div class="editor-field">
    @Html.EditorFor(model => model.Name, new { htmlattributes = new { @class = "k-textbox", @style = "width:100%; max-width:100%" } })
    @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-Danger" })
</div>

