<div class="k-edit-form-container col-lg-11 col-md-10 col-sm-11 col-xs-10" style="margin : 2%;">
    <div id="divOrderTransList"></div>
    <div class="k-edit-buttons k-state-default">
        <button type="button" class="k-button k-button-icontext k-grid-cancel" id="btnSaleOrderCancel"><span class="k-icon k-cancel"></span>Cancel</button>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#divOrderTransList").append('<div class="tiny_loading"></div>');
        $("#divOrderTransList").load('@Url.Action("PO_SalesOrderList", "Sales")?poId=' + '@ViewBag.POId' + '&isWithDetails=false');
    });

    $("#btnSaleOrderCancel").click(function () {
        $(this).closest(".k-window-content").data("kendoWindow").close();
    });

</script>

