@{
    ViewBag.Title = "PaySalary";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-default" style="margin-top:20px;">
    <div class="panel-heading" style="padding-bottom:46px;">
        <div class="pull-left">
            <h4>Supplier Invoice Info</h4>
        </div>
    </div>
    <div class="panel-body">

    </div>
    <div class="panel-body" style="padding:0px 15px;">
        <div id="divUserList" style="padding-top:5px;"></div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#divUserList").empty();
        $("#divUserList").append('<div class="loading_partial"></div>');
        $("#divUserList").load('@Url.Action("UserListForSalary", "")', passdata);
    });
</script>