<div class="row">
    <div class="col-md-12">
        <dl class="dl-horizontal">
            <dt class="control-label">Join Date</dt>
            <dd class="dis_info">@Convert.ToDateTime(ViewBag.JoinDate).ToString("MMMM dd, yyyy")</dd>
        </dl>
    </div>
</div>